
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Biblioteca UFAB</a>
    </div>
    
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
		<li><a href="/tarefas/list">Lista de Tarefas</a></li>
		<li><a href="/acervo">Acervo</a>
		<li><a href="/cursos/list">Cursos</a>
		<li><a href="/alunos/list">Alunos</a>	
		<li><a href="/funcionarios/list">Meus Dados</a>
		<li><a href="/users/list">Meus Dados de Login</a>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> ${name}</a></li>
      <li><a onclick="return confirm('Sair do Sistema ?')" href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>